<launch>
  <!-- Launch fake odom node -->
  <include file="$(find fake_odom)/launch/fake_odom_keyboard.launch" />

  <!-- Launch fake laser node -->
  <include file="$(find fake_laser)/launch/fake_laser.launch" />

  <!-- Launch map server -->
  <node pkg="map_server" type="map_server" name="map_server" args="$(find fake_simulation)/map/map.yaml" />

  <!-- Rviz -->
  <node pkg="rviz" type="rviz" name="rviz_occupancy_map_server"
    args="-d $(find fake_simulation)/launch/rviz/fake_simulation.rviz" />

</launch>